<a href="https://colab.research.google.com/github/Uriel1201/HelloSQL/blob/main/function_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def row_num(x):
    x_s = pd.Series(x)
    row_n = range(1, len(x_s) + 1)
    return row_n

In [ ]:
def desc_row_num(x):
    x_s = pd.Series(x)
    row_n = range(len(x_s), 0, -1)
    return row_n

In [ ]:
def main():
    data1 = {'hacker_id' : [1,2,3,4],
             'name'      : ['John','Jane','Joe','Jim']
            }

    data2 = {'sub_id'       : [101,102,103,104,105,106,107,108,109],
             'hacker_id'    : [1,1,2,2,2,3,3,3,4],
             'challenge_id' : [1,1,1,1,2,1,2,2,1],
             'score'        : [10,12,11,9,13,9,12,15,0]
            }

    hackers     = pd.DataFrame(data1)
    submissions = pd.DataFrame(data2)
    submissions = submissions.sort_values(by = ['hacker_id', 'challenge_id', 'score'])
    submissions['score_number'] = submissions.groupby(['hacker_id', 'challenge_id'])['score'].transform(row_num)
    submissions['score_rank'] = submissions.groupby(['hacker_id', 'challenge_id'])['score'].transform(desc_row_num)
    print(submissions)

In [ ]:
if __name__ == '__main__':
    main()

   sub_id  hacker_id  challenge_id  score  score_number  score_rank
0     101          1             1     10             1           2
1     102          1             1     12             2           1
3     104          2             1      9             1           2
2     103          2             1     11             2           1
4     105          2             2     13             1           1
5     106          3             1      9             1           1
6     107          3             2     12             1           2
7     108          3             2     15             2           1
8     109          4             1      0             1           1